@media screen and (max-width: 600px) {
    header {
        h1 {
            font-size: 0;
            &::after {
                top: -25px;
            }
        }
        button {
            width: fit-content;
            font-size: 1rem;
            padding: 10px;
        }
    }
    .upload {
        margin-top: 30px;
        min-width: 90%;
        .file-upload-wrapper {
            // margin-top: 30px;
            .file-upload {
                flex-direction: column;
                .file-preview, .metadata {
                    width: 100%;
                    height: 300px;
                }
                .metadata {
                    gap: 10px;
                    input, textarea {
                        padding: 15px;
                        font-size: 1rem;
                    }
                    button {
                        padding: 10px;
                    }
                }
            }
        }
    }
    .inset {
        padding: 15px;
    }
    .receipt-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        .receipt {
            .receipt-preview {
                flex-direction: column;
                img {
                    border: 0;
                    width: 250px;
                }
              ul {
                  width: calc(100% - 10px);
                  li {
                    h5 {
                        width: 100%;
                        display: inline-block;
                        border: 1px solid black;
                    }
                }
              }
            }
        }
    }
}