@media screen and (max-width: 1000px) {
    body {
        overflow: visible;
    }
    .upload {
        margin-top: 180px;
        min-width: 90%;
        .file-upload-wrapper {
            // margin-top: 30px;
            .file-upload {
                flex-direction: column;
                .file-preview, .metadata {
                    width: 100%;
                }
            }
        }
    }
}